<div class="container mb-3">
    <div class="row">
        <h1>Trivia assignment for Quad Solutions</h1>
    </div>

    <div class="row">
        <h6>Developer: <a href="https://github.com/AliBikini">Ali Biyikli</a></h6>
    </div>

    @if (quiz) 
    {
        <div class="row">
            @for (question of quiz.questions; track question.index)
            {
                <app-question [question]="question" class="mb-3"></app-question>
            }
        </div>

        @if (results) 
        {
            <div class="row">
                <h6><strong>{{numOfAnswersCorrect}}/{{results.length}} correct</strong></h6>
            </div>
        }
    }

    <div class="row">
        @if (quiz) 
        {
            <div class="col-auto">
                <button type="button" class="btn btn-primary" (click)="onClickResult()">
                    Check Answers
                </button>
            </div>
        }

        <div class="col-auto">
            <button type="button" class="btn btn-success" (click)="onClickNewQuiz()">
                New Quiz
            </button>
        </div>
    </div>

</div>